extends layout

block content
  h1 Recipes
  each recipe in recipeData
    .card.card-color.my-4
      .card-block
        a(href=`/details/${recipe._id}`)
          h3= recipe.name
              if(recipe.banners.isNewer == true)
                span.badge.badge-secondary.bg-warning.text-dark.ml-3.new-recipe= "NEW"
              if(recipe.banners.isFeatured == true)
                span.badge.badge-secondary.bg-warning.text-dark.ml-3.new-recipe= "FEATURED"
              h5= "Suitable for " + recipe.type